#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formulario{
    width: 210px;
    right: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.ajuste{
    display: flex;
    flex-direction: column;
}
